#favorite_table_wrapper {
    margin: 20px;
}
#history_table_wrapper {
    margin: 20px;
}

#favorite_table {
    background-color: #fff;
    font-family: sans-serif;
    font-size: 14pt;
}

#history_table {
    background-color: #fff;
    font-family: sans-serif;
    font-size: 14pt;
}

a {
    color: #00BCD4;
}

.favorite_read_button {
	background-color: #00BCD4;
	color: #fff;
	font-family: sans-serif;
	font-size: 16pt;
	font-weight: 300;
	font-variant-caps: all-small-caps;
	padding: 2px 20px;
	width: 100px;
	border: 1px;
	border-radius: 27px;
	min-width: max-content;
}

.history_read_button {
	background-color: #00BCD4;
	color: #fff;
	font-family: sans-serif;
	font-size: 16pt;
	font-weight: 300;
	font-variant-caps: all-small-caps;
	padding: 2px 20px;
	width: 100px;
	border: 1px;
	border-radius: 27px;
	min-width: max-content;
}

#favorite_table_paginate {
    margin-top: 20px;
    padding-left: 20px;
	font-family: sans-serif;
	font-size: 16pt;
	font-weight: 300;
	font-variant-caps: all-small-caps;
}

#history_table_paginate {
    margin-top: 20px;
    padding-left: 20px;
	font-family: sans-serif;
	font-size: 16pt;
	font-weight: 300;
	font-variant-caps: all-small-caps;
}