#slogan {
	font-family: fantasy;
	font-weight: bolder;
	color: #00BCD4;
	padding-top: 10px;
}
.newsBox {
	background-color: #fff;
	padding: 30px;
	font-family: serif;
	font-size: 18pt;
	max-width: 500px;
	height: 250px;
	margin-bottom: 40px;
    margin-left: 5px;
}
.news-button {
	background-color: #00BCD4;
	color: #fff;
	border: none;
	font-family: sans-serif;
	font-size: 16pt;
	font-weight: 300;
	font-variant-caps: all-small-caps;
	padding: 3px 25px;
}
.newsBoxTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1.5;        /* fallback */
    max-height: 70px;       /* fallback */
}
.link {
	color: #00BCD4;
	margin: 3px;
	font-size: 12pt;
	text-decoration: underline;
	font-style: italic;
}