/**
 * home.css 
 * a stylesheet for home page
 */

 /**
 * News Boxes
 */
.newsBox {
	background-color: #fff;
	padding: 30px;
	font-family: serif;
	font-size: 18pt;
	max-width: 500px;
	height: 250px;
	margin-bottom: 40px;
    margin-left: 5px;
}
.newsBoxTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1.5;        /* fallback */
	max-height: 70px;       /* fallback */
	min-height: 70px;
}
/**
 * Buttons
 */
.news-button {
	background-color: #00BCD4;
	color: #fff;
	font-family: sans-serif;
	font-size: 16pt;
	font-weight: 300;
	font-variant-caps: all-small-caps;
	padding: 3px 5px;
	width: 140px;
	border: 1px;
	border-radius: 27px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}
.news-button:hover {
	background-color: rgb(0, 126, 143);
	color: white;
  }
.link {
	color: #00BCD4;
	margin: 10px;
	font-size: 12pt;
	text-decoration: underline;
	font-style: italic;
}