

#notiOverlay{
    position: fixed;
    width: 25%;
    height: 30%;
    top: 20vw;
    left: 45vw;
    right: 0;
    bottom: 0;
    background: #ecfdff;
    color: #343a40;
    font-size: 16pt;
    font-weight: bold;
    z-index: 2;
    cursor: pointer;
    display:none;
}

#addWordBtn {
    width: max-content;
}

#learn_page_title {
    font-family: serif;
    font-weight: bold;
    font-variant-caps: petite-caps;
    font-size: 27pt;
    color: #343a40;
    margin-top: 0;
}

.textCol {
    background-color: #fff;
    color: #343a40;
    margin: 0px -60px 10px 15px;
    padding: 5px 20px 0px 30px;
    max-width: 540px;
}

.textHeader {
    font-size: 18pt;
    font-variant-caps: all-small-caps;
    color: #00BCD4;
}

.textBox {
    font-size: 18pt;
    font-family: serif;
    height: 300px;
}
