#notiOverlay{
    position: absolute;  
    width: 40%;
    height: 35%;
    top: 20vw;
    left: 40vw;
    right: 0;
    bottom: 0;
    background:white;
    z-index: 2;
    cursor: pointer;
    text-align: center;
    display:none;
}