.header {
	font-family: fantasy;
	font-weight: bolder;
	font-size: 40pt;
	color: #00BCD4;
	padding-top: 30px;
}

esl {
	font-weight: 600;
	background-color: #f8e9327a;
}

.navbar {
	background-color: #00BCD4
}
#navbar_text {
	color: white;
	font-family: cursive;
	font-size: 18pt;
	padding: 0;
  font-weight: 900;
}
.mainContent {
	background-color: #EEEEEE;
	height: 100%;
	position: absolute;
}
.button {
	background-color: #00BCD4;
	color: #fff;
	font-family: sans-serif;
	font-size: 16pt;
	font-weight: 300;
	font-variant-caps: all-small-caps;
	padding: 4px 20px;
	width: 140px;
	border: 1px;
	border-radius: 27px;
	min-width: max-content;
}
.textBox {
	border: 3px;
	height: 300px;
}

.sloganDiv {
	padding: 24px 16px;
}

.toast {
	position: absolute; 
	width: 1200px;
	top: 0; 
	right: 0;
	font-size: 14pt;
	background-color: lightgreen;
}

.pagination {
  padding-left: 66%;
	font-family: sans-serif;
	font-size: 16pt;
	font-weight: 300;
	font-variant-caps: all-small-caps;
}

.page-item.active .page-link {
    background-color: #00BCD4;
    border-color: #eeeeee;
}

body {
	background-color: #EEEEEE;
	height: 100%;
}