.header {
	font-family: fantasy;
	font-weight: bolder;
	color: #00BCD4;
}

esl {
	font-weight: 600;
	background-color: yellow;
}

.navbar {
	background-color: #00BCD4
}
#navbar_text {
	color: white;
	font-family: cursive;
	font-size: 18pt;
	padding: 0;
  font-weight: 900;
}
.mainContent {
	background-color: #EEEEEE;
	height: 100%;
	position: absolute;
}
.button {
	background-color: #00BCD4;
	color: #fff;
	border: none;
	font-family: sans-serif;
	font-size: 16pt;
	font-weight: 300;
	font-variant-caps: all-small-caps;
	padding: 3px 25px;
	width: 150px;
}
.textBox {
	border: 3px;
	height: 300px;
}

.sloganDiv {
	padding: 24px 16px;
}