.notebook {
    margin: -5px 100px 20px 10px;
    font-family: sans-serif;
}

.list-group-item {
    padding: 20px 32px 5px 35px;
    border: 10px solid #EEEEEE;
}

.list-group-item-heading {
    font-size: 18pt;
    font-weight: bold;
}

.list-group-item-text {
    font-size: 14pt;
}
