<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Favorite News</title>
  <meta charset="UTF-8">

  <!-- Warning here: Consider avoiding viewport values that prevent users from resizing documents -->
  <!-- We use this because we want to avoid the zoom in and zoom out when using on phone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/sc-2.0.0/sl-1.3.0/datatables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/sc-2.0.0/sl-1.3.0/datatables.min.js"></script>

  <script src="static/js/share.js"></script>
  <script src="static/js/favorite.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/share.css">
  <link rel="stylesheet" href="static/css/favNhis.css">
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  {{> header}}

  <main>
    <!-- Page Content-->
		<div  class="container-fluid mainContent">
      <div class="row" style="height: 100%;">
          {{> sidebar}}

          <!-- Main Page Content-->
          <div class="col" id="favorite_main">
            <div class="row sloganDiv">
              <div class="col">
                <h1 class="header">My Favorite News</h1>
              </div>
            </div>

            <table class="table table-striped table-bordered" id="favorite_table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Date</th>
                  <th>Source</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {{#each favorNews}}
                  <tr>
                    <td class="favor_news_title">{{title}}</td>
                    <td class="favor_add_time">{{add_time}}</td>
                    <td><i><a href="{{source}}" target="_blank">Source article</a></i></td>
                    <td>
                      <button type="button" data-nid="{{content_id}}" class="favorite_read_button">Read It</button>
                      <button type="button" class="unlike_button">Unlike</button>
                    </td>
                  </tr>
                {{/each}}
              </tbody>

            </table>
          </div>
          <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
            <div style="position: fixed; top: 30px; right: 30px;">
              <div class="toast" id="unfavorToast" data-delay="1500">
                <div class="toast-header">
                  Success
                </div>
                <div class="toast-body">
                  You have removed this news from your favorite news!
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </main>



</body>
</html>
