<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Favorite News</title>
  <meta charset="UTF-8">

  <!-- Warning here: Consider avoiding viewport values that prevent users from resizing documents -->
  <!-- We use this because we want to avoid the zoom in and zoom out when using on phone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/sc-2.0.0/sl-1.3.0/datatables.min.css"/>
 
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/sc-2.0.0/sl-1.3.0/datatables.min.js"></script>

  <script src="static/js/share.js"></script>
  <script src="static/js/favorite.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
      <!-- Navbar text-->
      <span class="navbar-text" id="navbar_text"> <!-- This text should generate dynnamically-->
        Favorite News
      </span>

      <form class="form-inline" action="/action_page.php">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </nav>
  </header>

  <main>
    <!-- Page Content-->
    <div class="container-fluid">
      <div class="row">
          <!-- Fixed Sidebar-->
          <div class="col-sm-2 px-1 bg-success">
              <div class="py-2 sticky-top flex-grow-1">
                  <div class="nav flex-sm-column">
                    <!-- User Profile-->
                    <img src="#">
                    <p>user_name</p>
                    <!-- Buttons -->
                    <button type="button" class="home_button">Home</button>
                    <button type="button" class="read_news_button">Read News</button>
                    <button type="button" class="study_set_button">Study Sets</button>
                    <button type="button" class="favorite_news_button">Favorite News</button>
                    <button type="button" class="history_button">History</button>
                    <button type="button" class="logout_button">Logout</button>
                  </div>
              </div>
          </div>

          <!-- Main Page Content-->
          <div class="col" id="favorite_main">
            <h1>Favortied News</h1>
          
            <table class="table table-striped table-bordered" id="favorite_table">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Date</th>
                  <th>Source</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {{#each news}}
                  <tr>
                    <td>{{title}}</td>
                    <td>04/25/2019</td>
                    <td><i><a href="{{source}}" target="_blank">Source article</a></i></td>
                    <td>
                      <button type="button" class="read_button">Read It</button>
                      <button type="button" class="delete_button">Unlike</button>
                    </td>
                  </tr>                
                {{/each}}
              </tbody>
              
            </table>
          </div>
      </div>
    </div>
  </main>
	
	

</body>
</html>
