<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Home | GoDuck</title>
  <meta charset="UTF-8">

  <!-- Warning here: Consider avoiding viewport values that prevent users from resizing documents -->
  <!-- We use this because we want to avoid the zoom in and zoom out when using on phone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='static/js/share.js'></script>
  <script src="static/js/home.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/share.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  {{> header}}

  <main>
    <!-- Page Content-->
		<div  class="container-fluid" style="height: 100%; position: absolute">
      <div class="row" style="height: 100%;">
          {{> sidebar}}

          <!-- Main Page Content-->
          <div class="col" id="home_main">
            <div class="row">
              <div class="col">
			        	<h1 id="slogan">Catch up with latest news while learning ESL...</h1>
                <h4 style="font-family: sans-serif">Here are some personal news recommandations for you:</h4>
              </div>
            </div>
            <div class="row" style="margin-left: 10px">
              {{#each news}}
                <div class="row">
                  <div class="col news" id="newsBox">
					<p>{{title}}</p>
					<br>
                    <button class="news-button" data-nid="{{content_id}}">Read News</button><br>
                    <i><div class="link" href="{{source}}" target="_blank">Source article</div></i>
					<div class="favor-heart" is-favor="{{isFavor}}" style="text-align: right">
						{{#if isFavor}}
							<i class="fas fa-heart" style="color: red"></i>
						{{/if}}
						{{#if isNotFavor}}
							<i class="far fa-heart"></i>
						{{/if}}
					</div>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
      </div>
    </div>
  </main>



</body>
</html>
