<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Welcome | GoDuck</title>
  <meta charset="UTF-8">
  <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='static/js/index.js'></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="static/css/index.css" rel="stylesheet" />
  <link rel="stylesheet" href="static/css/share.css">


  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

  <!-- Warning here: Consider avoiding viewport values that prevent users from resizing documents -->
  <!-- We use this because we want to avoid the zoom in and zoom out when using on phone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
</head>

<body style="background-color: #00BCD4">
  <div class="body">
  <header "loginHeader">
    <div class="container">
      <div class="row">

        <div class="col-3"></div>
        <div class="col-6" style="text-align:center;">
          DuoNews
        </div>
        <div class="col-3"></div>
      </div>
    </div>

  </header>
  <main>

    <div class="container" id="loginContainer">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">


          <div class="row">
            <div class="col-1"></div>
             <!-- Sign in page-->
            <div class="col-10" id="signinDiv">
              <form id="loginForm" method="GET">
                <label for="email">Email: </label><br>
                <input class="input" type="text" id="email"><br>
                <label for="password">Password: </label><br>
                <input class="input" type="password" id="password"><br>
                <p>Don't have an account? <div class="link" id="signup"><abbr title="signup">Sign up</abbr></div></p>
                <div class="link" id="forget_password">Forget password?</div><br>
                <button class="button" id="loginBtn" type="button" onclick="login(event);">Login</button><br>
              </form>
            </div>

            <!-- Sign up page-->
            <div class="col-10" id="signupDiv" style="display:none;">
              <form id="signupForm" method="GET">
                <label for="signup_username">Username: </label><br>
                <input class="input" type="text" id="signup_username"><br>
                <label for="signup_email">Email: </label><br>
                <input class="input" type="text" id="signup_email">
                <p id="email_in_use" style="display:none;color:red;">email already used</p>
                <br>
                <label for="signup_password">Password: </label><br>
                <input class="input" type="password" id="signup_password"><br>
                <label for="confirm_password">Confirm Password: </label><br>
                <input class="input" type="password" id="confirm_password">
                <p id="password_match" style="display:none;color:red;">Password Doesn't match</p>
                <br>
                <p>Already have an account? <div class="link" id="signin"><abbr title="signup">Login</abbr></div></p>
                <button class="button" id="signupBtn" type="button">Signup</button>
              </form>
            </div>
            <div class="col-1"></div>
          </div>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
  </main>

</body>
</html>
