<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Welcome | GoDuck</title>
  <meta charset="UTF-8">

  <!-- Warning here: Consider avoiding viewport values that prevent users from resizing documents -->
  <!-- We use this because we want to avoid the zoom in and zoom out when using on phone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
</head>

<body>
	Welcome to GoDuck learn page
</body>
</html>
