<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Profile</title>
  <meta charset="UTF-8">

  <!-- Warning here: Consider avoiding viewport values that prevent users from resizing documents -->
  <!-- We use this because we want to avoid the zoom in and zoom out when using on phone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/sc-2.0.0/sl-1.3.0/datatables.min.css"/>
	<link rel="stylesheet" href="static/css/share.css">

  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/sc-2.0.0/sl-1.3.0/datatables.min.js"></script>
	<script src='static/js/share.js'></script>
  <script src="static/js/profile.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/share.css">
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style>
		html, body {height: 100%;}
		h4 {color: gray}
	</style>
</head>

<body>
  {{> header}}

  <main>
    <!-- Page Content-->
    <div  class="container-fluid mainContent" style="height: 100%; position: absolute">
      <div class="row" style="height: 100%;">
        {{> sidebar}}

        <!-- Main Page Content-->
        <div class="col-sm-10">
          <div style="margin-top: 20%">
						<div class="row">
							<div class="col" style="text-align: right; padding-right: 50px;">
								<img src="https://www.freeiconspng.com/uploads/duck-png-10.png" width=200px>
								<!-- <p style="font-size: 26px; padding-right: 35px">user_name</p> -->
							</div>
							<div class="col" style="text-align: left">
								<p id="userName"> <b>Username</b>: </p>
								<p id="userEmail"> <b>Email</b>: </p>

                <p id="userCategory"> <b>Prefer News Topic</b>: {{#if isTech}}Technology{{/if}}{{#if isPolitic}}Politics{{/if}}{{#if isBusiness}}Business{{/if}}</p>
                <p id="userLanguage"> <b>Prefer Language</b>: {{#if isZh}}Chinese{{/if}}{{#if isEs}}Spanish{{/if}}{{#if isHi}}Hindi{{/if}}</p>
							</div>
						</div>
            <div class="row">
              <div class="col">
                <button type="button" class="button" id="editProfileBtn" style="margin-left: 28%;margin-right: 10px;">Edit Profile</button>
                <button type="button" class="button"  id="changePassBtn">Change Password</button>
                <button type="button" class="button" id="editProfileCancelBtn" style="display: none;">Discard Changes</button>
                <button type="button" class="button" id="editProfileSaveBtn" style="display: none;">Save Changes</button>
              </div>
            </div>
				  </div>
          <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center">
            <div style="position: absolute; top: 0; right: 0;">
              <div class="toast" id="passwordChangeToast" data-delay="1500">
                <div class="toast-header">
                  Toast Header
                </div>
                <div class="toast-body">
                  Password change success
                </div>
              </div>
              <div class="toast" id="passwordChangeFailToast" data-delay="1500">
                <div class="toast-header">
                  Toast Header
                </div>
                <div class="toast-body">
                  Password change fail. Please try again.
                </div>
              </div>
              <div class="toast" id="savedToast" data-delay="1500">
                <div class="toast-header">
                  Toast Header
                </div>
                <div class="toast-body">
                  Profile change saved!
                </div>
              </div>
              <div class="toast" id="savedFailToast" data-delay="1500">
                <div class="toast-header">
                  Toast Header
                </div>
                <div class="toast-body">
                  Profile change fail! Please try again.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="text-align: center; display:none;" id="password_change_div">
      <div class="row">
        <div class="col-4" ></div>
        <div class="col-4" style="border:2px solid">
          <label for="change_password">Password: </label>
          <input class="input" type="password" id="change_password"><br>
          <label for="confirm_change_password">Confirm Password: </label>
          <input class="input" type="password" id="confirm_change_password"><br>
          <p id="change_password_match" style="display:none;color:red;">Password Doesn't match</p>
          <p id="change_password_length" style="display:none;color:red;">Password must has at least 6 digits</p>
          <button style="margin-left:35px;"type="button" class="button" id="change_password_cancel_btn">Cancel</button>
          <button type="button" class="button" id="change_password_confirm_btn">Confirm Change</button>
        </div>
        <div class="col-4" ></div>
      </div>

    </div>
  </main>
</body>
</html>
