<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Study Set</title>
  <meta charset="UTF-8">

  <!-- Warning here: Consider avoiding viewport values that prevent users from resizing documents -->
  <!-- We use this because we want to avoid the zoom in and zoom out when using on phone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src='static/js/share.js'></script>
  <script src='static/js/studyset.js'></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
      <!-- Navbar text-->
      <span class="navbar-text" id="navbar_text"> <!-- This text should generate dynnamically-->
        Study Set
      </span>
    </nav>
  </header>

  <main>
    <!-- Page Content-->
    <div class="container-fluid">
      <div class="row">
          <!-- Fixed Sidebar-->
          <div class="col-sm-2 px-1 bg-success">
              <div class="py-2 sticky-top flex-grow-1">
                  <div class="nav flex-sm-column">
                    <!-- User Profile-->
                    <div class="user_information">
                      <img src="#">
                      <p>user_name</p>
                    </div>
                    <!-- Buttons -->
                    <button type="button" class="home_button">Home</button>
                    <button type="button" class="study_set_button">Study Sets</button>
                    <button type="button" class="favorite_news_button">Favorite News</button>
                    <button type="button" class="history_button">History</button>
                    <button type="button" class="logout_button">Logout</button>
                  </div>
              </div>
          </div>

          <!-- Main Page Content-->
          <div class="col" id="studyset_main">
            <h1>Notebook</h1>
            <div id="notebook1">
                <input class="form-control" id="word_search" type="text" placeholder="Search Words">
                <ul class="list-group" id="word_list">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">A</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="放弃">Abort</span>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">B</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="放弃">Abort</span>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">C</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="放弃">Abort</span>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">D</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="放弃">Abort</span>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">E</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="放弃">Abort</span>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                </ul>
            </div>
            <div id="notebook2" style="display:none;">
                <input class="form-control" id="word_search" type="text" placeholder="Search Words">
                <ul class="list-group" id="word_list">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">F</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="放弃">Abort</span>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">G</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">H</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Hello</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">I</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">J</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                </ul>
            </div>
            <div id="notebook3" style="display:none;">
                <input class="form-control" id="word_search" type="text" placeholder="Search Words">
                <ul class="list-group" id="word_list">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">A</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">B</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">C</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">C</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">C</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                </ul>
            </div>
            <div id="notebook4" style="display:none;">
                <input class="form-control" id="word_search" type="text" placeholder="Search Words">
                <ul class="list-group" id="word_list">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">A</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">B</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">C</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">C</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">C</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                </ul>
            </div>
            <div id="notebook5" style="display:none;">
                <input class="form-control" id="word_search" type="text" placeholder="Search Words">
                <ul class="list-group" id="word_list">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">A</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">B</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">C</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">C</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">C</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                </ul>
            </div>
            <div id="notebook6" style="display:none;">
                <input class="form-control" id="word_search" type="text" placeholder="Search Words">
                <ul class="list-group" id="word_list">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">A</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">B</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">C</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">C</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">C</h4>
                        <span class="list-group-item-text" data-toggle="popover" title="Translate" data-content="账户">Account</span>
                    </li>
                </ul>
            </div>
            <ul class="pagination">
                <li class="page-item disabled" id="prev"><a class="page-link">Previous</a></li>
                <li class="page-item active" id="page1"><a class="page-link">1</a></li>
                <li class="page-item" id="page2"><a class="page-link">2</a></li>
                <li class="page-item" id="page3"><a class="page-link">3</a></li>
                <li class="page-item" id="page4"><a class="page-link">4</a></li>
                <li class="page-item" id="page5"><a class="page-link">5</a></li>
                <li class="page-item" id="page6"><a class="page-link">6</a></li>
                <li class="page-item" id="next"><a class="page-link">Next</a></li>
            </ul>
          </div>
      </div>
    </div>
  </main>
	
	

</body>
</html>
