<header>
  <nav style="background-color: #00BCD4 !important" class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
    <!-- Navbar text-->
    <span class="navbar-text" id="navbar_text"> <!-- This text should generate dynnamically-->
      DuoNews
    </span>
  </nav>
</header>
