<!--
    Copyright 2019
    GoDuck header partial handlebars template

    This file contains header partial handlebars template which is used for
    Node.js express framework to render header in the web app.
 -->

<header>
  <nav style="background-color: #00BCD4 !important; height: 50px" class="navbar justify-content-center">
    <!-- Navbar text-->
    <span class="navbar-text" id="navbar_text"> <!-- This text should generate dynnamically-->
      DuoNews
    </span>
  </nav>
</header>
