<!--
    Copyright 2019
    GoDuck sidebar partial handlebars template

    This file contains sidebar partial handlebars template which is used for
    Node.js express framework to render sidebar in the web app.
 -->

<link rel="stylesheet" href="static/css/sidebar.css">

<!-- Fixed Sidebar-->
<div class="side col-2" data-intro="Here are the buttons to access different pages" data-step="2">
		<div class="py-2 sticky-top flex-grow-1">
				<div class="nav flex-sm-column">
					<!-- User Profile-->
					<div class="user_information">
						<img id="userpic" onclick="/profile" src="https://www.freeiconspng.com/uploads/duck-png-10.png" width=120px height=120px style="border:1px solid black; border-radius:50%; margin: 15px 0px">
						<p id="sidebarUsername">_</p>
					</div>
					<!-- Buttons -->
					<button class="home_button menu">Home</button>
					<button class="study_set_button menu">Study Set</button>
					<button class="favorite_news_button menu">Favorite News</button>
					<button class="history_button menu">History</button>
					<button class="logout_button menu">Logout</button>
				</div>
		</div>
</div>
