<link rel="stylesheet" href="static/css/sidebar.css">

<!-- Fixed Sidebar-->
<div class="side">
		<div class="py-2 sticky-top flex-grow-1">
				<div class="nav flex-sm-column">
					<!-- User Profile-->
					<div class="user_information">
						<img id="userpic" onclick="/profile" src="https://www.freeiconspng.com/uploads/duck-png-10.png" width=100px>
						<p id="a">User_name</p>
					</div>
					<!-- Buttons -->
					<button id="menu" class="home_button">Home</button>
					<button id="menu" class="study_set_button">Study Sets</button>
					<button id="menu" class="favorite_news_button">Favorite News</button>
					<button id="menu" class="history_button">History</button>
					<button id="menu" class="logout_button">Logout</button>
				</div>
		</div>
</div>
