<!-- Fixed Sidebar-->
<div class="col-sm-2 px-1" style="background-color: #04BFBF;">
		<div class="py-2 sticky-top flex-grow-1">
				<div class="nav flex-sm-column">
					<!-- User Profile-->
					<img src="https://www.freeiconspng.com/uploads/duck-png-10.png" width=100px>
					<p>user_name</p>
					<!-- Buttons -->
					<button type="button" class="home_button">Home</button>
					<button type="button" class="study_set_button">Study Sets</button>
					<button type="button" class="favorite_news_button">Favorite News</button>
					<button type="button" class="history_button">History</button>
					<button type="button" class="logout_button">Logout</button>
				</div>
		</div>
</div>
