<link rel="stylesheet" href="static/css/sidebar.css">

<!-- Fixed Sidebar-->
<div class="side">
		<div class="py-2 sticky-top flex-grow-1">
				<div class="nav flex-sm-column">
					<!-- User Profile-->
					<div class="user_information">
						<img onclick="/profile" src="https://www.freeiconspng.com/uploads/duck-png-10.png" width=100px>
						<p>user_name</p>
					</div>
					<!-- Buttons -->
					<button id="menu" class="home_button"><a>Home</a></button>
					<button id="menu" class="study_set_button"><a>Study Sets</a></button>
					<button id="menu" class="favorite_news_button"><a>Favorite News</a></button>
					<button id="menu" class="history_button"><a>History</a></button>
					<button id="menu" class="logout_button"><a>Logout</a></button>
				</div>
		</div>
</div>
